@import "tailwindcss";
@plugin "daisyui";

Hide scrollbar for .flex-1
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
